@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Poppins&display=swap");

/* --- MAIN ---- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue: #0088a9;
  --grey: #24252a;
  --white: #edf0f1;
}

/* ---- HEADER -- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/TreesWithSnow.png");
  width: 95%;
  margin-left: 2.5%;
  height: 95vh;
  margin-top: 2.5vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
}

/* ---- NAV BAR ---- */
.DHR__navbar {
  width: 100%;
  height: 20%;
  border-radius: 50px 50px 0 0;
}

.DHR__navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---- TITLE ---- */
.DHR__header-h1 {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50px 50px;
}

.DHR__header-h1 h1 {
  font-size: 4rem;
  color: var(--white);
}
